@model HTTP5212_Passion_Project3.Models.ArtworkDto 
@{
    ViewBag.Title = "View";
}

<a href="/Artwork/List">Go Back</a>
<h2>@Model.ArtworkName</h2>
<div>Artwork ID: @Model.ArtworkId</div>
<div>Artist ID: @Model.ArtistName</div>
<div>Description: @Model.ArtworkDescription</div>
<div>Image: @Model.ArtworkImage</div>


